[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "admiral.test"]
	path = admiral.test
	url = https://github.com/cran/admiral.test
	shallow = true
	registered = true
[submodule "ggcharts"]
	path = ggcharts
	url = https://github.com/thomas-neitmann/ggcharts
	shallow = true
	registered = true
